@font-face {
    font-family: 'Horizon';
    src: url('fonts/Horizon.otf') format('opentype');
}

body {
    font-family: 'Horizon', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #000000;
}

header {
    background-color: #121212; /* Bleu foncé style foot */
    color: black;
    text-align: center;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 10px;
}

nav button {
    padding: 10px 15px;
    border: none;
    background-color: black;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

nav button.actif {
    background-color: #121212;
    color: black;
}

section {
    display: none; /* Tout est caché par défaut */
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

section.actif {
    display: block; /* Seule la section active est affichée */
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

button.action {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #28a745;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message-ouverture {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.carte-item {
    background: black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* --- Nouveaux Styles --- */
.stats-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.stats-box p {
    margin: 5px 0;
}

.filtres-box {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtres-box select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.toggles {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.controles-qte {
    display: flex;
    align-items: center;
}

.controles-qte button {
    background-color: #003366;
    color: black;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

.controles-qte button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.echange-box {
    background: black;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
